<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learnit-forgot password</title>
    <link rel="stylesheet" href="{% static 'style/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'style/index.css'%}">
    <style>
        body{
            background-image: url("/static/image/bg.jpg");
        }
        a{
            text-decoration:none;
        }
    </style>
</head>
<body>
    {% include "student/navbar.html" %}


<br><br><br><br><br>

<form class="box" method="post">
    {% csrf_token %}
    
    <h1>Password reset</h1>
    <p class="text-muted"> Enter the email you registered with!</p>
    <div class="mb-3">
        {{form.as_p}}
        {% comment %} <input type="text" class="form-control" id="" aria-describedby="emailHelp" name="username">           {% endcomment %}
    </div>
    <input type="submit" value="Send me instructions!" class="btn btn-primary">
    
    {% comment %} <button type="submit" class="btn btn-primary">Submit</button> {% endcomment %}
</form>

<br><br><br><br><br><br><br><br><br><br>









    {% include "student/footer.html" %}
    <script src="{% static 'js/main.js'%}"></script>
    
</body>
</html>